
.background{

  width: 100vw;
  height: 100vh;
  background-image: url('images/23382329_5.jpg');

}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 85% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image-holder { 
margin-top: -50px;
margin-left: 50px;
width: 500px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;

background-image: url('./images/IMG_0607.jpg');

background-color: white;
border-radius: 400px;
background-size: cover;
  animation: fadeIn 5s;

}

.type-writer p {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: rgb(0, 0, 0);
color: #63de00;
font-family: 'Fira Mono', monospace;
font-size:20px;
font-weight: bold;
padding: 10px;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid white; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 ; /* Gives that scrolling effect as the typing happens */
animation: 
typing 4.0s steps(40, end),
blink-caret .75s step-end infinite;
width:350px;
animation-delay: 3s;
}

.type-writer-2 p {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: rgb(0, 0, 0);
color: #63de00;
font-family: 'Fira Mono', monospace;
font-size:20px;
font-weight: bold;
padding: 10px;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid white; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 ; /* Gives that scrolling effect as the typing happens */
animation: 
typing 4.0s steps(40, end),
blink-caret .75s step-end infinite;
width:330px;
animation-delay: 3s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 85% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.line { 
margin: 0px;
height: 10px ;
width: 250px;

}

.first-letter {
font-size: 40px;
font-style: italic;


}

.page {
width: 100%;
height: 100%;
top: 0px;
left: 0px;
position: fixed;
display: flex; 
z-index: 99;
background-color: rgb(234, 234, 234);
align-items: center;
justify-content: center;
}


.spin { 
display: flex;
animation:s1 5s infinite;
}


@keyframes s1 {to{transform: rotate(.5turn)}}


/* Only for tablet */ 

@media 
  (max-device-width: 481px)
  and (max-device-height: 768px) { 


    .background{ 


height: 900px;      

    }

}